<p-dialog header="Add new asset" (onHide)="close()" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <div class="m-0">
        <form #assetForm="ngForm" (ngSubmit)="onUpdateUser()">
            <div>
                <input 
                    name="assign_to"
                    ngModel
                    pInputText 
                    placeholder="Employee Id/location"
                    pattern="[a-zA-Z0-9].{3,}"
                    email
                    required
                    >
                    <small 
                        *ngIf="assetForm.controls['assign_to']?.touched && assetForm.controls['assign_to']?.invalid"
                        class="p-error">
                        *Assign to is required
                    </small>
            </div>
            <div>
                <p-button 
                    label="Submit" 
                    type="submit"
                    [disabled]="assetForm.invalid"></p-button>
            </div>
        </form>
    </div>
</p-dialog>