<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading">
    <h1>Users</h1>

    <div class="add-button" *ngIf="canAccess">
        <p-button label="+ Add User" [rounded]="true" severity="danger" (click)="addUser()"></p-button>
    </div>

    <app-add-user (onSuccessApplied)="closeDialog($event)" [visible]="visible"></app-add-user>

    <p-table
        [value]="users"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">SNo.</th>
                <th style="width:25%">User Name</th>
                <th style="width:25%">User role</th>
                <th style="width:25%">User Id</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.user_id}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>